a {
    text-decoration: none;
    color: rgb(255, 182, 193);
}

p {
    font-size: 18px;
}

footer {
    position: fixed;
    bottom: 50px;
    left: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}